.container {
  font-size: 28px;
  min-height: 42px;
  padding-left: 8px;
  border-left: solid 5px black;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.urgent {
  border-left: solid 5px darkred;
}

.done {
  text-decoration: line-through;
  color: darkgray;
}
