.container {
  font-size: 32px;
  height: 42px;
  padding-left: 8px;
  border-left: solid 5px black;
  text-transform: capitalize;
}

.urgent {
  border-left: solid 5px darkred;
}

.done {
  text-decoration: line-through;
  color: darkgray;
}
