/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100%;
  margin: 0px !important;
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
